*{
    margin:0;
    padding:0px;
    box-sizing: border-box;
}
.maincontainer{
    width:100%;
}
.container{
    width:100%;
    height:100vh;
    /* border:2px solid white; */
    background-image:url("doctor.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x:67%;
    
}
.header{
    width:100%;
    height:80px;
    display:flex;
    justify-content: space-between;
    position:fixed;
    align-self:start;
    top:0px;
    background-color:white;
    z-index:4;
    
}

.header-img{
    width:25%;
    margin:auto;
}
.header-img img{
    width:170px;
}
.header-right{
    width:50%;
}
.header-right ul {
height: 100%;
display:flex;
justify-content: space-evenly;
align-items:center;

}
.header-right ul li{
    list-style-type:none;
}
.header-right ul li a{
    text-decoration:none;
    color:#363636;
    font-family:Montserrat,sans-serif,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.header-right ul li a i{
    font-size:1.5em;
    color:#363636;
    
}
.hovercolor:hover{
    color:#0078AA;
}
.search{
    font-size:1.25em;
    cursor: pointer;
    color:#363636;
}
#searchcheck{
    display:none;
}
#searchdisplay{
    position:absolute;
    top:0px;
    left:0px;
    height:109px;
    width:100%;
    background-color: white;
    display:none;
}
#searchdisplay1{
    display:block;
    outline:0;
    border:none;
    width:80%;
    height:100%;
    text-align: center;
    font-size:1.2em;
    color:gray;
}
#searchcheck:checked~#searchdisplay{
    display:block;
    display:flex;
    align-items: center;
    gap:25px;
}
.menu{
    font-size: 1.9em;
    font-weight: 900;
    align-self: center;
    display:none;
}
.headerlogo1{
    display:none;
}


#menucheck{
    display:none;
}

 .menucontent{
    
    display:flex;
    flex-direction:column;
    justify-content:start;
    align-items: start;
    height:100%;
    background-color: #363636;
    width:100%;
    position:absolute;
    left:0px;
    display:none;
    
}

#acolor{
    color:#F4F4F4;
    display:block;
    line-height:2;
    background-color: #363636;
}
.headercontent{
    width:50%;
    margin-top:0px;
    word-wrap: break-word;
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    align-content: center;
    animation:HeaderAnimation 0.75s ease-in 0s;}
.headercontentsub{
    margin-top:120px;
}
.headercontent p{
    
    font-size:2.5rem;
    color:#363636;
    font-family:sans-serif;
    font-weight: 700;
  
}
/* .mtop{
    padding-top: 200px;
} */
/* .headercontent>p{
    margin-top:120px;
} */
.headercontent h6{
    line-height:50px;
    color:#363636;
    font-family:Montserrat;
    font-weight: 400;
}
.headercontentimages{
    width:200px;
}
.headercontentimages img{
    width:100%;

}

/* animations */
@keyframes HeaderAnimation{
    from{
        transform:translate(70px,20px) scale(0.2);
     }
    to{
        transform:translate(-1px,10px) scale(1);
    }
}


@media screen and (width<1024px){
    .menu{
        display:block;
    }
    /* #dcolor{
        background-color: #363636;
    } */
    
     #menucheck:checked~.menucontent{
    display:block;
}
    .search{
        display:none;
    }
    .header-right ul li a{
        display:none;
    }
}
/* @media screen and (width<230px){
    .header-img{
        width:90%;
    }
    .header-img img{
        width:90px
    }
} */
@media screen and (width<260px){
    .header-img{
        width:90%;
    }
    .header-img img{
        width:50px
    }
}
@media screen and (width<615px){
    .headercontent{
        align-content: start;
    }

}
@media screen and (width<281px){
.headercontent p{
    font-size:1rem;
}

.headercontentimages{
    width:50px;
    }
}

@media screen and (width<98px){
    .headercontent p{
    font-size:0.3rem;
    
}
.headercontent h6{
    font-size:0.6rem;
}

.headercontentimages{
    width:20px;
}

}
@media screen and (width<112px){
    #acolor{
        font-size:0.8rem;
    }
    .headercontent{
        animation:none;
    }
}

@media screen and (width<101px){
.header{
    flex-direction:column;
}
.headerlogo{
    display:none
    }
.headerlogo1{
    width:1%;
    display: flex;
    }
    #acolor{
        font-size:0.3rem;
    }
}
@media screen and (width<68px){
 .headercontent p{
    font-size:0.3rem;
    
}
.headercontent h6{
    font-size:0.2rem;
}
}
@media screen and (width<31px){
     .headercontent p{
    font-size:0.2rem;
    
}
.headercontent h6{
    font-size:0.2rem;
}
    .menu{
        font-size: 0.75em;
    }
    #acolor{
        font-size:0.15rem;
    }
}

/* section1 */

.section1{
    width:100%;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    position:relative;
    bottom:40px;
}
.section1sub{
    color:#363636;
    font-family: sans-serif;
    border-radius:1.5em;
}
.section1sub2{
    background-color:#D4FDFE;
    padding:40px;
    height:450px;
    position: relative;
    bottom:30px;
}
.section1sub2 i, .section1sub3 i{
    margin-top: 30px;
    justify-self: center;
    display: block;
    color:#0078AA;
    font-size: 2em;
}
.section1sub3{
    padding:40px;
}
.section1sub1,.section1sub3{
    background-color: #B9F7F9;
    height:390px;
    }

.section1sub h2{
    margin-top: 30px;
    font-size:1.4rem;
    justify-self:center;
}
.section1sub p{
    margin-top: 30px;
    justify-self:center;
}
.section1sub input{
    display:block;
    height:4em;
    width:30%;
    margin-top: 30px;
    justify-self: center;
    border-radius:2em;
    border:none;
    background-color: white;
    padding:3px;
}

.section1sub input:hover{
    background-color: #B9F7F9;
}
.section1sub2 input:hover{
    background-color:#D4FDFE ;
}
.section1sub1{
    padding:35px;
}

#heading2{
    color:#0078AA;
    
}

@media screen and (width<323px){
    .section1{
        grid-template-columns: repeat(auto-fit,minmax(100%,1fr));
        bottom:0px;
    }
    .section1sub1,.section1sub3,.section1sub2{
        height:100%
    }
.section1sub2 i, .section1sub3 i{
    justify-self: start;
    color:#0078AA;
    font-size: 1em;
}
.section1sub h2{
    justify-self:start;
}
.section1sub p{
    justify-self:start;
}

.section1sub input{
    justify-self: start;
    width:100%;
    padding:0px;
    font-size:0.6rem;
}
.section1sub2{
    position: relative;
    bottom:0px;
}
.section1sub p{
    font-size:0.5rem;
}
.section1sub h2{
    font-size:0.7rem;
}
}
@media screen and (width<128px){
    .section1sub p{
    font-size:0.5rem;
}
.section1sub h2{
    font-size:0.7rem;
}
.section1sub input{
    justify-self:start;
    width:100%;
    padding:0px;
    font-size:0.3rem;
}
.section1sub2 i, .section1sub3 i{
    justify-self: start;
    color:#0078AA;
    font-size: 0.2em;
}
.section1sub{
    padding:0px;
}
.section1sub p{
    font-size:0.2rem;
    padding:0px;
}
.section1sub h2{
    font-size:0.2rem;
    padding:0px;
}
.section1sub3{
    padding:0px;
}
}

/* section2 styling */

.section2{
    width:100%;
    width:100%;
    display:grid;
    grid-template-columns: repeat(2,minmax(300px,1fr));
    gap:10px;
}
.section2sub{
    width:80%;
    line-height: 1.6;
}
.section2sub2 img{
    width:100%;
}
.section2sub2 {
    height:800px;
    font-family: sans-serif,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* animation:section2Animation 0.5s ease-out 2s;
    animation-fill-mode: forwards; */
}
.section2sub2 span{
    font-weight:600;
}
.section2 p:nth-child(2) {
    color:#0078AA;
    font-size:0.8rem;
}
.section2 p:nth-child(odd) {
    color:#363640;
}
.section2 p:nth-child(1) {
    font-size: 2rem;
}
.section2 p:nth-child(3) {
    font-size: 0.8rem;
}
.section2sub p{
    margin-top:30px;
}
.section2sub1 img{
    width:100%;
    height:70%;
}
.section2summary{
    width:100%;
    display: block;
    color:black;
    margin-top:20px;
}
.section2check{
    display:none;
}
.section2summaryicon{
    width:100%;
    height:100%;
    margin-bottom:10px;
    font-family:sans-serif,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:1.1rem;
}
.section2summaryicon i{
    font-size: 1.5rem;
    margin-right: 20px;
    font-weight: 700;
    
}
.section2summaryicon label{
    display: block;
    width: 100%;
    height:100%;
    padding:15px;
    border:2px solid #F4F4F4;
    border-top-left-radius:0.8em;
    border-top-right-radius:0.8em;
    background-color: #F4F4F4;
}
.section2summarycontent{
    width:100%;
    height:100%;
    font-size: 0.8rem;
    background-color: #F4F4F4;
    font-family:sans-serif,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display:none;
}
.section2summaryicon1 #section2summary1:checked~.section2summarycontent1{
    display:block
}
.section2summaryicon2 #section2summary2:checked~.section2summarycontent2{
    display:block
}
.section2summaryicon3 #section2summary3:checked~.section2summarycontent3{
    display:block
}
/* media query for section2 */
@media screen and (width<751px){
.section2{
    grid-template-columns: repeat(1,minmax(300px,1fr));
}
.section2sub{
    width:100%;
}
.section2sub2{
    height:100%;
}
}
@media screen and (width<336px){
.section2{
    grid-template-columns: repeat(1,minmax(100%,1fr));
    margin-top:50px;
    gap:0px;
}
}
@media screen and (width<295px){
.section2sub2 span{
    font-weight:300;
}
.section2 p:nth-child(2) {
    font-size:0.4rem;
}
.section2 p:nth-child(1) {
    font-size: 0.5rem;
}
.section2 p:nth-child(3) {
    font-size: 0.4rem;
}
.section2summaryicon{
    font-size:0.5rem;
}
.section2summaryicon i{
    font-size: 0.6rem;
    margin-right: 0px;
    font-weight: 500;
    
}
.section2summarycontent{
    font-size: 0.4rem;
}
}
@media screen and (width<69px){
.section2summaryicon label{
    font-size:0.1rem;
    margin:0px;
    padding:0px;
    text-transform:lowercase;
}
.section2summary{
    display: inline-block;
}
.section2sub2 span{
    font-weight:0;
}
.section2 p:nth-child(2) {
    font-size:0.1rem;
}
.section2 p:nth-child(1) {
    font-size: 0.1rem;
}
.section2 p:nth-child(3) {
    font-size: 0.1rem;
}
.section2summaryicon{
    font-size:0.1rem;
}
.section2summaryicon i{
    display:none;
}
.section2summarycontent{
    font-size: 0.1rem;
}
}
/* section2 animation */
/* @keyframes section2Animation{
    from{
    transform:translate(130px);
    }
    to{
    transform:translate(-50px);
    }
} */
/* section3 styling */
.section3{
    width:100%;
    background-image:url("./section3bimage.jpg");
}
.section3sub1{
    width:100%;
    margin-bottom:70px;
}
.section3sub1 h2{
    text-align:center;
    line-height:1.6;
    font-family:sans-serif,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.section3first{
    font-size: 2rem;
    padding-top:50px;
}
.section3second{
    font-size: 0.8rem;
    color: #363636;
}
.section3sub3{
    height:5em;
}
.section3sub2{
    width:90%;
    display:grid;
    background-color: white;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    margin:auto;
    justify-items:center;
}
.section3sub2items{
    margin-bottom:70px;
    width:80%;
}
.section3sub2items img{
    margin-top:20px;
    width:60%;
}
.section3sub2items h2{
    margin-top:20px;
    font-family:sans-serif,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:1.1rem;
}
.section3content{
    margin-top:20px;
    margin-bottom:20px;
    color: #363636;
    font-size:0.9rem;
    font-family:sans-serif,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
/* section3 media query */
@media screen and (width<397px){
.section3first{
    font-size: 1.5rem;
}
.section3second{
    font-size: 0.4rem;
    color: #363636;
}
.section3content{
    font-size:0.6rem;
}
.section3sub2{
    grid-template-columns: repeat(1,1fr);
    margin:0px;
    }
}
@media screen and (width<160px){
    .section3first{
    font-size: 0.5rem;
}
.section3sub2items h2{
    font-size:0.5rem;
    }
}
@media screen and (width<70px){
    .section3sub1 h2{
    text-align:start;
}
.section3sub2{
    width:100%;
    margin:0px;
    justify-items:start;
}
.section3first{
    font-size: 0.1rem;
}
.section3second{
    font-size:0.1rem;
}
.section3sub2items h2{
    font-size:0.1rem;
}
.section3content{
    font-size:0.2rem;
    }
}

/* section4 styling */
.section4{
    width:100%;
    display:grid;
    grid-template-columns: repeat(2,minmax(300px,1fr));

}
.section4sub1 h2{
    line-height:1.9;
    font-family: sans-serif,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.section4sub1 p{
    line-height:1.5;
    margin-top:50px;
    font-size: 0.9rem;
    font-weight:700;
    font-family: sans-serif,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.section4content{
    margin-top:30px;
    font-family: sans-serif,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #363636;
    font-size:0.8rem;
}
.section4sub1{
    width:400px;
    margin:auto;
    /* animation:section4Animation 0.5s ease-in 0s; */
}
.section4sub2{
    width:100%;
    height:100%;
}
.section4sub2 img{
    width:100%
}
.section4sub1 input{
    display:block;
    width:32%;
    height:2.6rem;
    margin-top:40px;
    margin-bottom:150px;
    border-radius:2.3em;
    color:white;
    border-color: #3CE2AD;
    background-color:#3CE2AD;
}
.section4sub1 input:hover{
    background-color: white;
    border-color: #3CE2AD;
    color:black
}
.section4first{
    margin-top:30px;
    font-weight: 100;
    color: #363636;
}
.section4second{
    font-size:0.8rem ;
    color: #0078AA;
}
.section4first span{
    font-weight: 600;
}

@media screen and (width<851px){
.section4{
    grid-template-columns: repeat(1,100%);
}
.section4sub1{
    width:100%;
}
.section4sub2{
    width:100%;
}
}
@media screen and (width<102px){
    .section4first{
        font-size:0.2rem;
        font-weight: 100;
        color: #363636;
    }
.section4second{
    font-size:0.2rem ;
    color: #0078AA;
}
.section4first span{
    font-weight: 100;
}
.section4sub1 p{
    font-size:0.1rem;
}
.section4content{
    font-size:0.1rem;
}
.section4sub1 input{
    margin-top:10px;
    margin-bottom:10px;
}
}
/* section4 animations */
/* @keyframes section4Animation{
    from{
        transform:translate(-120px);
        
    }
    to{
        transform:translate(120px);
    }
} */
/* section4-2  styling*/
.section4-2{
    height:350px;
    width:100%;
    /* border:2px solid; */
    background-color: #F4F4F4;
    position:relative;
    bottom:20px;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
    justify-items:center;
    align-items: center;

}
.section4-2sub{
    height:100%;
    width:180px;
    justify-items: center;
    
}
.section4-2sub i{
    display:block;
    justify-self: center;
    color: #0078AA;
    font-size: 2rem;
}
.section4-2sub h1{
    font-size:3em;
    color:#505050;
}
.section4-2sub p{
    color:#505050;
}
.section4-2sub{
    margin-top:180px;
}
/* section4-2 media query */
@media screen and  (width<721px){
    .section4-2{
        height:100%;
    }
}
@media screen and (width<364px){
    .section4-2{
    height:100%;
    bottom:0px;
    grid-template-columns: repeat(1,100%);
}
.section4-2sub{
    width:100%;
}
}
@media screen and (width<78px){
    .section4-2sub i{
        font-size: 0.4rem;
}
.section4-2sub h1{
    font-size:0.6rem;
}
.section4-2sub p{
    font-size:0.2rem;
}
}
/* section5 styling */
.section5{
    width:100%;
    background-image:url("./section5bimage1.jpg");
    background-size:cover;
}
.section5sub{
    width:80%;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    margin: auto;
}
.section5subsub{
    width:300px;
    justify-items: center;
}
.section5subsub input{
    margin-left:50px;
    margin-top: 20px;
    height:3.2em;
    width:50%;
    border-radius:1em;
    border:none;
    background-color: white;
    margin-bottom:10px;
    text-align:center;
}
.section5subsub p{
    line-height:4;
    font-family: sans-serif,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#363636;
    font-size: 0.8rem;
    text-align:center;
}
.section5subsub1{
    height:672px;
    background-color:#D4FDFE;
}
.section5subsub2{
    height:715px;
    background-color:white;
    position:relative;
    bottom:25px;
    z-index:2;
}
.section5subsub3{
    height:672px;
    background-color:#D4FDFE;
    
}
.section5maincontent {
    width:100%;
    line-height: 2;
    justify-items: center;
    font-family: sans-serif,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 25px;
    color:#3A3A3A;
    text-align:center;
}
.section5maincontent h1{
    font-size: 3rem;
}
#exsize{
    font-size: 1.1rem;
}
#bginput{
    background-color: #0078AA;
    color:white;
}
.section5subsub input:hover{
    border:2px solid #0078AA;
    background-color: #D4FDFE;
}
#bginput:hover{
    color:black;
    background-color: white;
}
.section5first{
    color:#363636;
    font-size:2rem;
    text-align:center;
    margin-top:120px;
    line-height:2;
    font-family: sans-serif,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.section5second{
    color:#363636;
    font-size: 0.8rem;
    text-align:center;
    margin-bottom:100px;
    font-weight: 100;
}

@media screen and (width<890px){
    .section5subsub{
        width:100%;
    }
    .section5sub{
        margin:0px;
    }
    .section5subsub1{
    height:100%;
    }
.section5subsub2{
    height:100%;
    bottom:0px;
    z-index:0;
}
.section5subsub3{
    height:100%;
}
}
@media screen and (width<320px){
.section5sub{
    width:100%;
    margin:0px;
    grid-template-columns: repeat(1,100%);
    }
.section5subsub input{
    margin-left:0px;
}
.section5subsub{
    width:100%;
}
.section5first{
    font-size:1.2rem;
    text-align:start;
}
.section5second{
    font-size: 0.4rem;
    text-align:start;
}
}
@media screen and (width<105px){
.section5subsub p{
    font-size: 0.1rem;
}
.section5maincontent h1{
    font-size: 0.1rem;
}
#exsize{
    font-size: 0.2rem;
}
.section5first{
    font-size:0.1rem;
}
.section5second{
    font-size: 0.1rem;
}
.section5maincontent h1{
    font-size: 0.2rem;
}
.section5maincontent h2{
    font-size:0.2rem;
}

}

/* section6 styling */
.section6{
    width:100%;
    display:grid;
    grid-template-columns: repeat(2,1fr);
}
.section6sub{
    margin-top:100px;
    margin-bottom:50px;
}
.section6sontent{
    width:100%;
    height:100%;
    color:#363636;
    font-family: sans-serif,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.section6sub1{
    text-align:center;
    width:400px;
    line-height:1.5;
}
.section6sub2{
    width:500px;
}
.section6first{
    color:#363636;
    font-family: sans-serif,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:2rem;
    font-weight: 100;
    }
.section6second{
    color:#363636;
    font-family: sans-serif,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:2rem;
    font-weight:700
}
.section6sub1 input{
    margin-top:70px;
    height:3rem;
    width:40%;
    border-radius:2em;
    background-color: #3CE2AD;
    color:white;
    margin-bottom:70px;
    border:none;
}
.section6sub1 input:hover{
    background-color: white;
    color:black;
    border:2px solid #3CE2AD;
}
.section6sub2 label{
    display:block;
    padding:20px;
    width:100%;
    color:#505050;
    background-color: #F4F4F4;
    font-family: sans-serif,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius:0.2em;
    margin-bottom:10px;
    cursor: pointer;
    display:flex;
    justify-content: space-between;
}
.section6check{
    display:none;
}
.section6content{
    background-color: #F4F4F4;
    display:none;
}
.section6sub2 #section6check1:checked~.section6content1{
    display:block;
    
}
.section6sub2 #section6check2:checked~.section6content2{
    display:block;
    
}
.section6sub #section6check3:checked~.section6content3{
    display:block;
    
}
.section6sub2 #section6check4:checked~.section6content4{
    display:block;
    
}
/* section6 media query */
@media screen and (width<920px){
.section6{
    grid-template-columns: repeat(1,100%);
}
.section6sub1{
    width:100%
}
.section6sub2{
    width:90%;
}
.section6sub{
    margin-top:30px;
    margin-bottom:50px;
}
}
@media screen and (width<920px) and (width>550px){
.section6sub1 input{
    width:20%;
}
.section6sub{
    margin-top:20px;
    }
}
@media screen and (width<175px){
.section6sontent{
    font-size:0.6rem;
}
.section6first{
    font-size:0.6rem;
}
.section6second{
    font-size:0.6rem;
    font-weight:200
}
.section6sub2 label{
    font-size:0.6rem;
}
.section6sub2 label{
    width:100%;
    padding:0px;
}
}

@media screen and (width<69px){
.section6sontent{
    font-size:0.1rem;
}
.section6first{
    font-size:0.1rem;
}
.section6second{
    font-size:0.1rem;
    font-weight:200
}
.section6sub2 label{
    font-size:0.2rem;
}
}


/* section 7 map styling */
.map{
    width:100%;
    height:500px;
}
.map iframe{
    width:99%;
    height:100%;
}

/* section7-2 styling */
.section7-2{
    width:100%;
    display:grid;
    grid-template-columns: repeat(4,minmax(180px ,1fr));
    background-color: #F4F4F4;
    justify-content: start;
}
.section7-2sub{
    width:300px;
    height:200px;
    display:flex;
    justify-content: space-evenly;
    align-items:center;
}
.section7-2icon i{
    font-size:2rem;
    color:#3CE2AD;
}
.section7-2icon1 i{
    transition:all 1s ease-in 0s;
}
.section7-2content{
    line-height:2;
}
.section7-2content h3{
    color:#363636;
    font-family: sans-serif,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:0.9rem;
}
.section7-2content p{
    color:#363636;
    font-family: sans-serif,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:0.8rem;
}
/* transitions */

.section7-2icon1:hover{
    transform:translateY(-20px);
}
.section7-2icon2:hover{
    transform:translateY(-20px);
}
.section7-2icon3:hover{
    transform:translateY(-20px);
}
.section7-2icon4:hover{
    transform:translateY(-20px);
}

/* section7-2 media query */
@media screen and (width<1209px){
    .section7-2{
    width:100%;
    height:100%;
    grid-template-columns: repeat(2,1fr);
}
.section7-2sub{
    width:100%;
    height:200px
    }
}
@media screen and (width<639px){
.section7-2{
    width:100%;
    height:100%;
    grid-template-columns: repeat(1,100%);
    }
}
@media screen and (width<256px){
.section7-2sub{
    height:100%;
}
.section7-2sub{
    display:flex;
    flex-direction:column;
    justify-content: start;
    align-items:start;
    margin-bottom:70px;
    margin-top:30px;
}
}
@media screen and (width<180px){
    .section7-2icon i{
    font-size:1rem;
    color:#3CE2AD;
}
.section7-2content h3{
    font-size:0.6rem;
}
.section7-2content p{
    font-size:0.3rem;
}
}
@media screen and (width<72px){
.section7-2icon i{
    font-size:0.7rem;
}
.section7-2content h3{
    font-size:0.1rem;
}
.section7-2content p{
    font-size:0.1rem;
}

}
/* section8 styling */
.section8{
    margin-top: 150px;
    height:100%;
    width:100%;
    display:grid;
    grid-template-columns:repeat(2,1fr);

}
.section8sub1{
    height:600px;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    column-gap: 10px;

}
.section8subsub{
    background-image:url("./section8bimage.jpg");
    background-size:cover;
    text-align:justify;
}
.section8subsub img{
    margin-top:150px;
    width:100px;
    height:100px;
    border-radius:50%;
    margin-left: 80px;
    line-height:2;
}
.section8subsub h3{
    line-height: 2;
    margin-left: 90px;
    color:white;
}
.section8content{
    height:100%;
    width:100%;
    display:flex;
    gap:30px;
    color:white;
}
.section8content h1{
    margin-top: 50px;
}
.section8content p{
    margin-top: 50px;
    font-size:0.8rem;
}
.section8sub2{
    height:650px;
}
.section8first{
    font-size:2.2rem;
    font-family:sans-serif,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left:10%;
}
.section8second{
    font-size:0.8rem;
    color:#0078AA;
    margin-left:10%;
    line-height:5;
    font-family:sans-serif,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.section8sub2 input{
    display:block;
    width:80%;
    padding-top:10px;
    padding-bottom:10px;
    outline:none;
    border-top:none;
    border-right:none;
    border-left:none;
    line-height:5;
    font-size: 0.9rem;
    margin-left:10%;
    border-bottom-color:lightgrey;
    
}
.section8sub2 input:active{
    border-color:#0078AA;
}
.section8sub2 select{
    display:block;
    width:80%;
    padding-top:10px;
    padding-bottom:10px;
    outline:none;
    border-top:none;
    border-right:none;
    border-left:none;
    margin-top:30px;
    margin-left:10%;
    color:gray;

}
.section8sub2 button{
    display:block;
    width:25%;
    border-radius:2em;
    padding-top:15px;
    padding-bottom:15px;
    margin-left:10%;
    margin-top:30px;
    margin-bottom:30px;
    background-color: #3CE2AD;
    color: white;
    border-color: #3CE2AD;
}
.section8sub2 button:hover{
    color:black;
    background-color: white;
}

/* section8 mediA query */
@media screen and (width<1001px){
.section8sub1{
    height:600px;
    grid-template-columns:repeat(1,100%);
    column-gap: 0px;

}
.section8subsub2{
    display:none;
}

}
@media screen and (width<802px){
.section8{
    grid-template-columns:repeat(1,100%);
}
.section8sub1{
    width:75%;
    height:100%;
}
.section8sub2{
    margin-top:30px;
    height:100%;
}
}
@media screen and (width<272px){
.section8subsub img{
    width:30px;
    height:30px;
    margin-left: 0px;
}
.section8subsub h3{
    margin-left: 0px;
}
.section8content{
    flex-direction:column;

}
.section8content h1{
    margin-top: 40px;
}
.section8content p{
    margin-top: 10px;
    font-size:0.4rem;
    margin-bottom: 20px;
}
.section8first{
    font-size:1rem;
    margin-left:0%;
}
.section8second{
    font-size:0.5rem;
    margin-left:0%;
}

}
@media screen and (width<105px){
.section8content p{
    margin-top: 10px;
    font-size:0.1rem;
    margin-bottom: 20px;
}
.section8first{
    font-size:0.2rem;
    margin-left:0%;
}
.section8second{
    font-size:0.2rem;
    margin-left:0%;
}
.section8sub2 input{
    font-size: 0.2rem;
}
.section8subsub img{
    width:8px;
    height:8px;
}
.section8subsub h3{
    font-size:0.2rem;
}
.section8sub2 button{
    font-size:0.2rem;
    padding-top:0px;
    padding-bottom:0px;
}
.section8sub2 select{
    font-size:0.2rem;
}
.section8sub2 select option{
    font-size:0.2rem;
}
.section8content h1{
    font-size: 0.3rem;
}
}
@media screen and (width<67px){
.section8sub1{
        width:50%;
    }
.section8first{
    font-size:0.1rem;
    margin-left:0%;
}
.section8second{
    font-size:0.1rem;
    margin-left:0%;
}
.section8sub2 input{
    font-size: 0.1rem;
}
.section8subsub img{
    width:5px;
    height:5px;
}
.section8subsub h3{
    font-size:0.1rem;
}
.section8sub2 button{
    font-size:0.1rem;
    
}
.section8sub2 select{
    font-size:0.1rem;
}
.section8sub2 select option{
    font-size:0.1rem;
}
.section8content h1{
    font-size: 0.1rem;
}
}

/* footer styling */

.footer{
    width:100%;
    height:400px;
    background-color: #1c1c1c;
    margin-top:70px;
}
.footerinner{
    width:90%;
    height:100%;
    margin:auto;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:40px;
}
.footersub{
    height:250px;
    font-family: sans-serif,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top:70px;
}
.footersub1 h2{
    color:white;
    line-height: 4;
}
.footersub1 p{
    color:#BBBBBB;
}
.footersub2 h2{
    color:white;
}
.footerimages {
    display:flex;
    gap:20px;
    align-items: center;
    margin-top: 20px;
}
.footersub3{
    margin-bottom:15px;
}
.footerimages img{
    width:80px;
    height:80px;
    border-radius:50%;

}
.footerimagessub{
    color:white;
    
}
.footerimagessub h3{
    font-size:1rem;
}
.footerabout{
    display:flex;
    color:#BBBBBB;
    gap:20px;
    margin-top: 20px;
}
.footerimages a img:hover{
    opacity:0.2;
    background-color: #3CE2AD;
    
}
/* footer media query */
@media screen and (width<973px){
.footerinner{
    grid-template-columns: repeat(2,1fr);
}
.footer{
    height:100%;
}
.footersub3{
    margin-top:0px;
}

}
@media screen and (width<820px){
.footerinner{
    grid-template-columns: repeat(1,1fr);
}
.footersub{
    height:100%;
    width:80%;
    margin-top:20px;
}
}
@media screen and (width<280px){
.footerimages {
    flex-direction:column;
    justify-content: flex-start;
    align-items: flex-start;
}
.footerimages img{
    width:50px;
    height:50px;
}
.footerabout{
    flex-direction:column;
    
}
.footersub{
    width:100%;
}
.footersub1 p{
    font-size:0.5rem;
}
.footerimagessub h3{
    font-size:0.6rem;
}
.footerabout p{
    font-size:0.6rem;
}
.footersub1 h2{
    font-size: 0.6rem;
    line-height: 2;
}
.footersub2 h2{
    font-size: 0.6rem;
}
}
@media screen and (width<126px){
.footerimages img{
    width:29px;
    height:28px;
}
.footersub1 p{
    font-size:0.1rem;
}
.footerimagessub h3{
    font-size:0.2rem;
}
.footerabout p{
    font-size:0.2rem;
}
.footersub1 h2{
    font-size: 0.2rem;
    line-height: 2;
}
.footersub2 h2{
    font-size: 0.2rem;
}
.footerimagessub p{
    font-size:0.1rem;
}
.footersub{
    height:100%;
    width:100%;


}
}
@media screen and (width<50px){
    .footerimages img{
    width:5px;
    height:5px;
}
.footerimagessub h3{
    font-size:0.1rem;
}
.footerabout p{
    font-size:0.1rem;
}
.footersub1 h2{
    font-size: 0.1rem;
}
.footersub2 h2{
    font-size: 0.1rem;
}
.footerimagessub p{
    font-size:0.1rem;
}
.footerabout i{
    font-size:0.5rem;
}
}
/* footer2 */
.footer2{
    width:100%;
    height:100px;
    background-color: #363636;
    color:#F4F4F4;
    text-align:center;
    line-height:5;
}
/* media query footer2 */
@media screen and (width<420px){
    .footer2{
       
        height:100%;
        line-height:2.5;
    }
}
@media screen and (width<106px){
    .footer2 p{
        line-height:5;
        font-size:0.4rem;
    }
}
@media screen and (width<46px){
    .footer2 p{
        font-size:0.25rem;
    }
}


